<html>
<head>
<link rel="stylesheet" type="text/css" href="adm.css">
</head>
<body>
	<div class="container">
		<div class="cat">
			<ul>
				<li><a href="">Разное</a></li>
				<li><a href="">Чёрное</a></li>
				<li><a href="">Белое</a></li>
				<li><a href="">Красное</a></li>
			</ul>
		</div>
		
		<div class="panel">
		<input type="button" value="Добавить товар">
		<input type="button" value="Выйти">
		</div>
		
		<div class="prod">
			<div class="page">
				<span>Назад123456789Вперед</span>
			</div>
			<ul>
				<hr>
				<li>
				<img src="1.png" width="120" height="120" hspace="20">
				<input type="button" value="Изменить картинку">
					<ul id="inf">
						
						<li><span>Товар</span>
						<input type="button" value="Редактировать" id="red"></li>
						<li><span>Цена: </span>
						<input type="button" value="Редактировать" id="red"></li>
						<li><span>Наименование: </span>
						<input type="button"value="Редактировать" id="red"></li>
						<li><span>Сайт производителя: </span>
						<input type="button" value="Редактировать" id="red"></li>
					</ul>
				<input type="button" value="Удалить товар" id="del">
				</li>
				<br>
				<hr>
				<li>
				<img src="1.png" width="120" height="120" hspace="20">
				<input type="button" value="Изменить картинку">
					<ul id="inf">
						
						<li><span>Товар</span>
						<input type="button" value="Редактировать" id="red"></li>
						<li><span>Цена: </span>
						<input type="button" value="Редактировать" id="red"></li>
						<li><span>Наименование: </span>
						<input type="button"value="Редактировать" id="red"></li>
						<li><span>Сайт производителя: </span>
						<input type="button" value="Редактировать" id="red"></li>
					</ul>
				<input type="button" value="Удалить товар" id="del">
				</li>
				<br>
				<hr>
			</ul>
			<div class="page">
				<span>Назад123456789Вперед</span>
			</div>
		</div>
		
		
	</div>
</body>
</html>