<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
<title>Catalog</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>
<body>
	<div id="wrapper">
	
		<div id="title">
			<div class="menu">
			<ul>
			<li><a href="/" title="Главная">Главная</a></li>
			<li><a href="/admin" title="Админка">Админка</a></li>
			</ul>
			</div>Catalog</div>
		<div id="header">
		<img src="/static/images/banner2.jpg" alt="Catalog" />
		</div>
		<div class="nav1">
			<ul>
			<li><a href="/catalog/all/" >Все</a></li>
			{% for cat in c %}	
			<li><a href="/catalog/{{ cat.chpu }}/" title="{{ cat.name }}">{{ cat.name }}</a></li>
			{% endfor %}
			</ul>
		</div>
{% block content %}{% endblock %}
		<div id="footer">
		<p>&copy; Test :: Design by me :: Some text :: free template</p>
		</div>
	</div>
</body>
</html>
